/* Colours */
$Background: rgb(43, 206, 206);
$Theme: rgb(218, 36, 187);
$Text: brown;
$Highlight: #fff;

/* Layout */
$Frame_Width: 1140px;


/* Font */
$Base_Font_Family:'Josefin Sans', sans-serif;
$Title_Font_Family:'Poiret One', cursive;
$Alt_Font_Family: 'Raleway', sans-serif;
$Base_Font_Colour: $Text;
