/* Colours */

$Background: #33ccff;
$Theme: #ff99cc;
$Text: #333300;
$Alert: #DB2929;
$Highlight: #fff;

/* Layout */
$Frame_Width: 1140px;


/* Font */
$Base_Font_Family:'Josefin Sans', sans-serif;
$Title_Font_Family:'Poiret One', cursive;
$Alt_Font_Family: 'Raleway', sans-serif;
$Base_Font_Colour: $Text;
