/* Colours */
$White: #fff;
$Black: #000;
$Light-Grey: #d7d7d9;
$Dark-Grey: #404040;
$Orange: #ffcc66;
$Red: #DB2929;

/* Colour Config */
$Background-Colour: $Light-Grey;
$Theme-Colour: $Dark-Grey;
$Highlight-Colour: $White;
$Text-Colour: $White;

/* Fonts */
$Poppin: 'Poppins', sans-serif;

/* Font Config */
$Font-Family: $Poppin;

/* Layout */
$Header-Height: 90px;
$Footer-Height: 100px;
$Frame-Width: 1140px;
$Mobile-Width: 767px;
