/* Colours */
$Brown-Dark: #534D56;
$Brown-Light: #656176;
$Pink: #DECDF5;
$Cream: #F8F1FF;
$Green: #1B998B;

/* Colour Config */
$Background-Colour: $Cream;
$Theme-Colour: $Brown-Light;
$Highlight-Colour: $Cream;
$Shadow-Colour: $Brown-Dark;
$Text-Colour: $Brown-Dark;

/* Fonts */
$Poppin: 'Poppins', sans-serif;

/* Font Config */
$Font-Family: $Poppin;

/* Layout */
$Header-Height: 90px;
$Footer-Height: 80px;
$Frame-Width: 1140px;
$Mobile-Width: 767px;
