/* Colours */
$Orange: #ffcc66;
$Light_Gray: #d7d7d9;
$Dark_Gray: #404040;

$Background: $Orange;
$Theme: $Dark_Gray;
$Alert: #DB2929;
$Highlight: #fff;
$Text_Colour: $Highlight;

/* Layout */
$Frame_Width: 1140px;
$Header_Height: 90px;

$Poppin: 'Poppins', sans-serif;

/* Font */
$Base_Font_Family: $Poppin;

$Title_Font_Family: $Poppin;
$Alt_Font_Family: 'Zilla Slab', serif;
$Base_Font_Colour: $Text_Colour;

/* Devices */
$Mobile_Width: 767px;
$Frame-Width: 1140px;
